/* Main.css import */
@import "./main.css";

/* Filters container */
.filters-container {
    padding: 16px;
    background: linear-gradient(to bottom, #085f63, #49beb7);
    color: white;
    border-radius: 12px;
}

/* Checkbox inputs */
input[type=checkbox] {
    cursor: pointer;
}