/* Google font imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* 
font-family: "Poppins", sans-serif; 
font-family: "Roboto", sans-serif;
 */

body {
    animation: transitionIn 1s;

}

html {
    font-family: "Poppins", sans-serif;
}

/* Headings */
.heading {
    font-family: "Roboto", sans-serif;
}

h3#book-now-heading {
    font-family: "Roboto", sans-serif;
}

/* Hidden heading */

.hidden-heading {
    display: none;
}

/* Universal Card Styling */
article.card {
    height: 550px;
    max-height: 550px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

/* Dividers */

.divider {
    height: 3px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #e5e5e5;
}

/* Icon Sizing */

.icon-size {
    margin-left: 10px;
    height: 100%;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    color: #000;
}

/* Navbar Custom CSS */

.text-style {
    font-family: "Poppins", sans-serif;
}

.heading {
    font-family: "Roboto", sans-serif;
}

.nav-bg-color {
    background-color: #fff;
}

.nav-bg-color-pink {
    background: linear-gradient(to bottom, #085f63, #49beb7);
}

/* Buttons */

.button-color {
    background-color: #facf5a;
    transition: all .3s ease;
}

.button-color:hover {
    background-color: #ff5959;
}

/* Alert Banner */

.alert-color {
    background: #facf5a;
}

.txt-bold {
    font-weight: bolder;
}

.txt-bold-size {
    font-size: 25px
}

/* Sliding Images */

.slide-image-width {
    width: 75%;
}

.slide-img {
    object-fit: cover;
    object-position: center;
    height: 50vh;
}

.img-border {
    border-radius: 50px;
}

/* Cards Section */
.card-title {
    padding-left: 16px;
    margin: 10px 0px 0px;
}

.card .card-body .card-text {
    font-family: "Poppins", sans-serif;
}

/*Footer Styling */

footer {
    background-color: #085f63;
    color: #fafafa;
    font-family: "Poppins", sans-serif;
}

footer .nav-footer a.nav-link {
    color: #fafafa;
    text-transform: uppercase;
}

.socials-container a i {
    color: white;
    font-size: 24px;
    transition: all .3s ease;
}

.socials-container a i:hover {
    color: #ff5959;
}

#copyright-text {
    color: rgb(183, 182, 182);
    font-size: 12px;

}

/* Template */
/* Just copy and paste this into the container to outline  */
.border-color {
    border: 2px solid black;
}

/* Animation when the page loads */
@keyframes transitionIn {
    from {
        opacity: 0;
        rotate: 10px;
    }

    to {
        opacity: 1;
        rotate: 0;
    }
}

/* Media Queries */

@media screen and (max-width: 768px) {

    /* Carousel width */
    .slide-image-width {
        width: 100%;
    }
}