/* Main.css import */
@import "./main.css";

article.card {
    height: 550px;
    max-height: 550px;
}

article.card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article.card .card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

article.card .card-img-top {
    object-fit: cover;
}