/* Main.css import */
@import "./main.css";

.page-top {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-top img.img-fluid {
    width: 100%;
}

.main-title,
.brand-button,
#cta-btn {
    position: absolute;

}

#cta-btn {
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-title {
    text-transform: uppercase;
    font-size: 50px;
    color: #fafafa;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content .btn {
    color: white;
}

/* Cards */
article.card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article.card .card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

article.card .card-img-top {
    object-fit: cover;
    object-position: center;
}