/* Main.css import */
@import "./main.css";



.page-top {position: relative;}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    
}


footer {
    position: static;
}

#copyright-text {color: rgb(183, 182, 182);
    font-size: 12px;

}
