/* Main.css import */
@import "./main.css";

.page-top {
    position: relative;
}

.main-title, .brand-button {
    position: absolute;
}

.main-title {
    text-transform: uppercase;
    font-size: 50px;
    color: #fafafa;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content .btn {
    color: white;
}

.welcome