/* Main.css import */
@import "./main.css";



/*Footer Styling */ 

footer  {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #085f63;
    color: #fafafa;

}

footer .nav-footer a.nav-link {
    color: #fafafa;
    text-transform: uppercase;
}
