/* Main.css import */
@import "./main.css";

.page-top {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-top img.img-fluid {
    width: 100%;
}

.main-title,
.brand-button,
#cta-btn {
    position: absolute;

}

#cta-btn {
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#page-bottom-btn {
    width: 350px;
    margin: 0 auto;
}

#banner-img {
    filter: brightness(75%);
    border-radius: 16px;
}

.main-title {
    text-transform: uppercase;
    font-size: 50px;
    color: #fafafa;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content .btn {
    color: white;
}

/* Filters list */
.filters-container {
    background: linear-gradient(to bottom, #085f63, #49beb7);
    color: white;
    border-radius: 12px;
    padding: 16px;
}

/* Cards */
article.card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article.card .card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

article.card .card-img-top {
    object-fit: cover;
    object-position: center;
}

/* Media Queries */

@media screen and (max-width: 1200px) {

    /* Fix positioning for cta button */
    #cta-btn {
        top: 50%;
        left: 75%;
    }
}

@media screen and (max-width: 400px) {

    /* Fix bottom button width */
    #page-bottom-btn {
        width: 90%;
    }
}